[Unit]
Description=deware daemon
After=multi-user.target

[Service]
ExecStart=usr/bin/python3 provabin/dewared
Type=simple
Restart=always

[Install]
WantedBy=default.target
