[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=App raccolta dati
Name[en_GB]=App raccolta dati
Exec=${python} ${install_location}/gui/app.py
Comment[en_GB]=deware app
StartupNotify=true
Icon=deware_icon
Categories=Utility
